.projectsBlock {
    height: auto;
    background-color: darkslategrey;
    width: auto;
    padding: 50px 0;
}
.projectsContainer {
    flex-direction: column;
    justify-content: space-evenly;
}
.title {
    color: coral;
}
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}