.skillsBlock {
    height: auto;
    background-color: #001410;
}
.skillsContainer {
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    color: coral;
}

.skills {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}